body {
    background-color: #0b5e87;
    color: black;
    font: 11px/18px helvetica,verdana,arial,sans-serif;
}


div {
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

   



.error {
    color:red;
}

