body {
    background-color: #0b5e87;
    color: black;
    font: 11px/18px helvetica,verdana,arial,sans-serif;
}

.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #555;
}
.bookGrid {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      background-color: #f6eee3;
}

.gridObject {
    left: 50%
    overflow: scroll;
    text-align: auto;
    color: black;
    font: helvetica,verdana,arial,sans-serif;

}

.title{
    font-size: 14px;
    overflow: auto
}

.author{
    font-size: 10px;
    overflow: auto
}

p {
    width: 75%;
    padding: 20px;
    text-align: center;
    background-color: #f6eee3;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #f6eee3;
}


.error {
    color:red;
}

