<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Little Online Library</title>
</head>
<body>
   <h1>Search the Library</h1>
<form>
   <div class="form-group">
      <label for="volume-search">Search for </label>
      <input type="search" id="volume-search" name="q-volume-search" placeholder="Search">
   </div>
   <div class="form-group">
      <label>
         <input type="radio"> by Author</label>
      <label>
         <input type="radio"> by Title</label>
   </div>
   <div class="for-group">
      <input type="submit" value="Search" class="btn btn-success">
   </div>

</form>

</body>
</html>