<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Verify Email</title>
</head>
<body>
<div>
<form method="post">
    <p> Check Email for Verification Code </p>
    <div> Username
        <p>
            <label>
                <input th:field="${verificationFormDTO.username}" />
            </label>
        </p>
    </div>
    <div> Code
        <p>
            <label>
                <input th:field="${verificationFormDTO.verifyCode}" name ="code"/>
            </label>
            <p th:errors="${verificationFormDTO.verifyCode}"></p>
            <p th:text="${incorrect}"></p>
        </p>
    </div>
        <input type="submit" class="btn btn-primary" value="Verify" />
</form>
</div>
</body>

</html>